spring:
  application:
    name: sogonServer

  datasource:
    # 환경변수 ${POSTGRES_DB}를 읽고, 없으면 'sogon_db'를 사용
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
    
    # 환경변수 ${POSTGRES_USER}를 읽고, 없으면 'sogon_dev'를 사용
    username: ${POSTGRES_USER}
    
    # 환경변수 ${POSTGRES_PASSWORD}를 읽고, 없으면 'sogon_pass'를 사용
    password: ${POSTGRES_PASSWORD}
    
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET} 
  expiration: ${JWT_EXPIRATION}